@using ApplicationManager.Entitys
@model MainPage
<div class="text-center">
    <h1 class="display-4">@Model.Value</h1>
</div>
<div>
    <form asp-action="AddNewRequest" asp-controller="home"  method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="Name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="Email">
            </div>
        </div>   
        <div class="form-group">
            <label for="description">Текст сообщения:</label>
        <textarea id="description" name="Description" class="description"></textarea>
        </div>   
        <div class="form-group-sub">
            <input type="submit" value="Отправить" class="btn btn-primary">
        </div> 
    </form>
    
</div>