@model MainForm
@{
    ViewData["Title"] = "Главная страница";
    Layout = "_Layout-main";
}
@{
    var image = Model.UrlImage;
    var image_path = "/Images/" + image;
}

<div class="text-center">
   
    <div class="ImageMain" style="background-image: url(@image_path)">
        <h2>
            @Model.Title
        </h2>
        <input type="button" class="navbar-brand btn btn-primary butt-main"
               value="@Model.ButtonTitle" 
        onclick="LoadAddRequestform()" /> 

    </div>
    <div class="animated-container">
        <div id="additionalViewContainer"></div>
    </div>
</div>
<script>
    function LoadAddRequestform() {
        $.ajax({
            url: '/Home/AddRequest', 
            type: 'GET',
            success: function (result) {
                $('#additionalViewContainer').html(result);
                $('#additionalViewContainer').addClass('slide-in-down');
            }
        });
    }
</script>
