@model ServicesModel;
@{
    ViewData["Title"] = $"Страница {Model.Name_page}";
}
<div class="navigation-history">
    <p>
        <a asp-action="Index">Главная</a> -> @Model.Name_page
    </p>
</div>
<h1>@Model.Name_page</h1>
<hr />
<div>
    @foreach (Service item in Model.Services)
    {
        <details>
            <summary>@item.Title</summary>
            <p>@item.Description</p>
        </details>
    }
</div>