html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.ImageMain {
    для расположения по центру
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
}
.box {
    border: 1px solid black;
    width: 33%;
    height: 200px;
}
.ImageProject {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*summary::-webkit-details-marker {
    display: none
}*/

/*details summary::-webkit-details-marker {
    background: red;
    color: #fff;
    font-size: 500%;
}*/

summary::after {
    background: red;
    border-radius: 5px;
    content: "+";
    color: #fff;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 30px;
}

details[open] summary::after {
    content: "-";
}

