html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.ImageMain {
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:500px;
}
.ImageProject {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.ImageBlog {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.ImageMain-image{
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar-brand {
    margin-left: auto;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
}
.box {
    border: 1px solid black;
    width: 33%;
    height: 200px;
}
.ImageProject {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-socialnet {
    width: 32px;
    height: 32px;
    padding-left: 30px;
    object-fit: cover;
    background-size: cover;
}
.image-address {
    width: 600px;
    height: 500px;
    background-size: cover;
}
.LoadNewAddress {
    visibility: hidden;
}

.flex-container {
    display: flex;
    align-items: center;

}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*summary::-webkit-details-marker {
    display: none
}*/

/*details summary::-webkit-details-marker {
    background: red;
    color: #fff;
    font-size: 500%;
}*/

summary::after {
    background: red;
    border-radius: 5px;
    content: "+";
    color: #fff;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 30px;
}

details[open] summary::after {
    content: "-";
}
.buttons_nav{
    display: flex;
    flex-direction: row;
}
.header_right{
    display: flex;
    flex-direction:column;
}
.render-title{
    text-align:center;
}

.MyModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.MyModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
     
}

.MyClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
     
}

.close:hover,   .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
         
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.slide-in-down {
    animation: slideInDown 0.3s ease-in-out;
}
.animated-container {
    /* overflow: hidden;*/
    position: relative;
    /*height: 0;*/
    margin-bottom: -20px; /* чтобы учесть высоту анимации */
    /*overflow-y: auto;*/
}
.header-admin {
    position: relative;

}
.nav-panel-admin {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    margin-top: 32px;
    background-color: skyblue;
}
.right {
    float: right
}
.nav-panel-admin ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:20px;
}
.top-panel {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: skyblue;
}
.nav-panel-admin li {
    margin-bottom: 10px;
    padding-left: 10px;
}
    .nav-panel-admin li a {
        display: block;
        padding: 5px 20px;
        /*  background-color: #ccc;*/
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
    }

        .nav-panel-admin li a:hover {
            background-color: cornflowerblue;
            border: 1px solid white;
        }
.container {
    margin-left: 190px;
}
.butt-list{
    padding-top: 60px;
}
.pad-top {
    padding-top: 60px;
}


