@model Service
@{
    var namepage = string.Empty;
    if (Model is null)
        namepage = "Добавление";
    else
        namepage = "Редактирование";
}
<p>
    <a asp-action="Index">Главная</a> -> <a asp-action="ServicesAdmin" asp-controller="Admin">ViewBag.Name_page</a>  -> @namepage
</p>
<div>
    @if (Model is null)
    {
        <form id="AddServiceForm" asp-action="AddNewServiceMethod" asp-controller="Admin" method="post" asp-antiforgery="true">
            <p>Заголовок</p>
            <input type="text" asp-for="Title" />
            <p>Описание</p>
            <input type="text" asp-for="Description" /><br />
            <a class="navbar-brand" href="#" onclick="document.getElementById('AddServiceForm').submit()">Сохранить</a>
        </form>
    }
    else
    {
        <form id="EditServiceForm" asp-action="EditServiceMethod" asp-controller="Admin" method="post" asp-antiforgery="true">
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <p>Заголовок</p>
            <input type="text" asp-for="Title" value="@Model.Title"/>
            <p>Описание</p>
            <input type="text" asp-for="Description" value="@Model.Description"/><br />
            <a class="navbar-brand" href="#" onclick="document.getElementById('EditServiceForm').submit()">Сохранить</a>
        </form>
    }

   
    
</div>