@model MainPageUploadModel
@{
    ViewData["Title"] = "Редактирование страницы 'Главная'";
}
@{
    var image = ViewBag.Image;
    var image_path = "/Images/" + image;
}

<form class="navbar-brand" method="post" asp-controller="Admin" asp-action="EditMainSave" id="EditMainform" asp-antiforgery="true" enctype="multipart/form-data">
<div class="text-center">

    <div class="ImageMain">
            <div class="ImageMain" id="Image-main" style="background-image: url(@image_path)"/>
        @*загрузка картинки*@
            <input asp-for="Image" id="NewMainImage"/>
            <input type="text" asp-for="Title" value="@Model.Title" />


            <input type="text"  asp-for="ButtonTitle" value="@Model.ButtonTitle" />
    </div>
</div>
<div class="text-center">
        <input type="text" asp-for="RequestTitle" value="@Model.RequestTitle" />
</div>
<div>
    <form action="~/Home/AddNewRequest" method="post">
            <p>Имя: </p>          <input type="text" name="Name" disabled /><br />
            <p>Email: </p>        <input type="text" name="Email" disabled /><br />
            <p>Текст сообщения: </p>     <input type="text" name="Description" disabled /><br /><br />
            <p><input type="submit" value="Отправить" disabled /></p>
    </form>
</div>

    <a class="navbar-brand" href="#" onclick="document.getElementById('EditMainform').submit()">Сохранить</a>
</form>
<script>    
    document.getElementById("NewMainImage").addEventListener("change", function (event) {
        var file = event.target.files[0];
        var url = URL.createObjectURL(file);
        document.getElementById("Image-main").style.backgroundImage = "url(" + url + ")";
    });
</script>